<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="sports.properties"/>

	<bean id="myFortuneService"
		  class="sk.it.dolinsky.di.HappyFortuneService">
	</bean>

	<bean id="myCoach"
		  class="sk.it.dolinsky.ioc.BaseballCoach">
		<constructor-arg ref="myFortuneService"/>
	</bean>

	<bean id="myCricketCoach"
		  class="sk.it.dolinsky.di.CricketCoach">
		<property name="fortuneService" ref="myFortuneService"/>
		<property name="emailAddress" value="${foo.email}"/>
		<property name="team" value="${foo.team}"/>
	</bean>

</beans>
